[Unit]
Description=SSL Certificate Syncronization
# Dependencies
Requires=etcd.service

# Ordering
After=etcd.service

[Service]
ExecStart=/usr/bin/etcdctl watch  /acme
ExecStartPost=/usr/bin/systemctl start nginx-config-templater
Restart=always

[X-Fleet]
Global=true
MachineMetadata=frontend=true
