[Unit]
Description=Watches for distributed acme challenge responses
# Dependencies
Requires=etcd.service

# Ordering
After=etcd.service

[Service]
ExecStartPre=-/usr/bin/docker pull chadautry/wac-nginx-templater
ExecStartPre=-/usr/bin/docker rm nginx-templater
ExecStart=/usr/bin/etcdctl watch /acme/watched
ExecStartPost=/usr/bin/docker run --name nginx-templater --net host \
-v /usr/var/nginx.conf:/usr/var/nginx.conf chadautry/wac-nginx-templater
Restart=always

[X-Fleet]
Global=true
MachineMetadata=frontend=true
