[Unit]
Description=Backend Publishing
# Dependencies
Requires=etcd.service

# Ordering
After=etcd.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /discovery/backend/%H '%H' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /discovery/backend/%H

[X-Fleet]
Global=true
MachineMetadata=backend=true
