[Unit]
Description=SSL Certificate Syncronization
# Dependencies
Requires=etcd.service

# Ordering
After=etcd.service

[Service]
ExecStartPre=-/usr/bin/docker pull chadautry/wac-node
ExecStartPre=-/usr/bin/docker rm backend-node-container
ExecStart=/usr/bin/docker run --name backend-node-container -p 80:8080 -p 443:4443 \
-v /app:/usr/share/node/app:ro \
chadautry/wac-node
Restart=on-failure

[X-Fleet]
Global=true
MachineMetadata=backend=true
llchain.pem'
Restart=always

[X-Fleet]
Global=true
MachineMetadata=frontend=true
