[Unit]
Description=Letsencrpyt renewal service

[Service]
ExecStartPre=-/usr/bin/docker pull chadautry/wac-acme
ExecStartPre=-/usr/bin/docker rm acme
ExecStart=-/usr/bin/docker run --net host --name acme chadautry/wac-acme
Type=oneshot

[X-Fleet]
Global=true
MachineMetadata=frontend=true
