[Unit]
Description=NGINX config template service
# Dependencies
Requires=etcd.service

[Service]
ExecStartPre=-/usr/bin/docker pull chadautry/wac-nginx-templater
ExecStartPre=-/usr/bin/docker rm nginx-templater
ExecStart=/usr/bin/docker run --name nginx-templater --net host \
-v /usr/var/nginx.conf:/usr/var/nginx.conf chadautry/wac-nginx-templater
Type=oneshot

[X-Fleet]
Global=true
MachineMetadata=frontend=true
