[Unit]
Description=NodeJS Backend API
# Dependencies
Requires=docker.service

# Ordering
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker pull chadautry/wac-node
ExecStartPre=-/usr/bin/docker rm -f backend-node-container
ExecStart=/usr/bin/docker run --name backend-node-container -p 8080:80 -p 4443:443 \
-v /var/nodejs:/app:ro \
chadautry/wac-node
ExecStop=-/usr/bin/docker stop backend-node-container
Restart=always

[X-Fleet]
Global=true
MachineMetadata=backend=true
