[Unit]
Description=Watches for node config changes
# Dependencies
Requires=etcd.service

# Ordering
After=etcd.service

[Service]
ExecStartPre=-/usr/bin/docker pull chadautry/wac-node-config-templater
ExecStartPre=-/usr/bin/docker rm node-templater
ExecStart=/usr/bin/etcdctl watch /node/config
ExecStartPost=-/usr/bin/docker run --name node-templater --net host \
-v /var/node:/usr/var/node -v /var/ssl:/etc/nginx/ssl:ro \
chadautry/wac-node-config-templater
Restart=always

[X-Fleet]
Global=true
MachineMetadata=backend=true
